.VPHero h1 {
    font-family: 'Comic Mono';
}

:root {
    --vp-home-hero-image-background-image: linear-gradient(235deg, #00F 0% 25%, #f0f 20% 40%, #0f0  40% 58%, #ff0 50% 80%, #00F 80% 100%);
    --vp-home-hero-image-filter: brightness(1.5);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-bg {
    position: relative !important;
    inset-block-start: auto !important;
    inset-inline-start: auto !important;
    background-size: 200% 200%;
    border-radius: 15px !important;
    transform: rotate(0deg) !important;
    animation: movingGradient 51s linear infinite, movingContrast 13s cubic-bezier(0.78, 0.01, 0.58, 0.55) infinite;
    animation-direction: alternate;
}

.image-bg, .image-container, .image-container img {
    color-interpolation: srgb !important;
    color-interpolation-filters: srgb !important;
    will-change: filter, transform;

    /* transform: translateZ(0) */
}

@keyframes movingGradient {
    0% {
        background-position: 300% 300px;
        rotate: 0;
    }

    100% {
        background-position: 0 1000%;
        rotate: 360deg;
    }
}

@keyframes movingContrast {
    0% {
        filter: saturate(1.5) brightness(1.5) blur(45px) contrast(1.5) opacity(0.5);
    }

    100% {
        filter: saturate(1.5) brightness(1.5) blur(60px) contrast(20) opacity(0.2);
    }
}

@keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

.cm-scroller {
    font-family: 'Comic Mono', monospace !important;
    font-size: 18px;
}

blockquote {
    margin-block-end: 4em !important;
    background: rgb(255 255 255 / 6%);
}

code {
    letter-spacing: 0.057142em;
    vertical-align: middle;
}

.container h1.name {
    letter-spacing: 2px;
}
